form {
  margin: 0 auto;
  width: 440px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 130px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.element_wrap {
  margin-left: 30px;
}

.button1 {
  padding-left: 90px; 
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  box-shadow: rgba(168, 168, 168, 0.8) 0px 0px 6px 0px;
  box-sizing: border-box;
  padding: 7px 12px;
  border-radius: 8px;
  color: red;
  margin-left: 95px;
}
.button2 {
  padding-left: 90px; 
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  box-shadow: rgba(168, 168, 168, 0.8) 0px 0px 6px 0px;
  box-sizing: border-box;
  padding: 7px 12px;
  border-radius: 8px;
  color: black;
  margin-left: 95px;
}

button {
  margin-left: .5em;
}

.center {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
}

#message {
    text-align: center;
    display:none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}